---
import PortfolioDynamicGrid from "../components/ui/PortfolioDynamicGrid";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../components/ui/PortfolioDynamicGrid.css";
---

<BaseLayout 
  title="Portafolio de Proyectos y Casos de Éxito | TAEC"
  description="Una muestra de lo que hacemos: 6 cursos-demo de TAEC con diferentes formatos y niveles de interactividad."
  section="Soluciones"
>
  <main class="portfolio-container">
    <PortfolioDynamicGrid client:visible />
  </main>
</BaseLayout>

<style>
  .portafolio-page {
    padding-top: 100px; /* Previene superposición con el navbar fijo */
    min-height: 80vh;
    background-color: #ffffff;
  }
</style>
