---
import { getCollection } from 'astro:content';
const blog = await getCollection('blog');
const quiz = await getCollection('quiz');
const glosario = await getCollection('glosario');

const data = {
  blog: blog.length,
  quiz: quiz.length,
  glosario: glosario.length,
  blog0: blog[0] ? blog[0].id : null,
};
---
<!DOCTYPE html>
<html>
<head>
  <meta name="robots" content="noindex, nofollow" />
</head>
<body>
  <pre>{JSON.stringify(data, null, 2)}</pre>
</body>
</html>
